*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --nav-bgc: #ef4444;
    --main-bgc: #fca5a5;
    --dark-font-c: rgb(23, 22, 22);
    --main-gray: #fecaca;
}

li:hover,
button:hover,
svg:hover,
img[src*="lebron_pp.png"]{
    cursor: pointer;
}

body{
    margin: 0;
}

.container{
    display: grid;
    background-color: var(--main-bgc);
    grid-template-columns: 1fr 5fr;
}

nav{
    background-color: var(--nav-bgc);
    color: var(--dark-font-c);
    padding: 15px;
    position: relative;
    grid-column: 1/2;
}

nav > ul{
    padding-left: 0;
}

.project-section .title{
    font-weight: 700;
    font-size: 1.2rem;
}

nav .title{
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

svg{
    height: 1.2em;
}

li { 
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

li:hover{
    color: white;
    transition: color 0.15s;
    svg{
        fill: white;
        transition: fill 0.15s;
    }
}

svg + p{
    justify-self:start;
}

.content-container{
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 0.5fr 0.5fr 9fr;
}

.search-section{
    display: grid;
    align-items: center;
    grid-template-columns: 2.3fr 1fr;
    grid-row: 1/2;
    gap: max(25%,1rem);
}

.search-bar {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-items: start;
}

input:disabled{
    cursor:not-allowed;
    width: 100%;
    border-radius: 1rem;
    padding: 5px 0;
    border: none;
    /* border: 1px solid rgb(255, 229, 229); */
    background-color: rgb(255, 229, 229);
}

.search-bar > svg{
    justify-self: end;
    margin-right: max(20%, 0.5rem);
}

.profile-noti{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.profile-noti > p{
    font-weight: 600;
    font-size: 1.1rem;
}

.profile-noti > p:hover{
    cursor: pointer;
    color: rgb(1, 1, 81);
}

img[src*="pp"]{
    /* border: 1px solid black; */
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
}

.profile-section{
    gap:10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2/3;
    padding-bottom: 1rem;
}

.profile-subsection{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: max(1%,1rem);
    justify-items: center;
    align-items: center;
    margin-left: 1rem;
} 

.profile-subsection > p{
    justify-self: baseline;
    font-weight: 700;
    font-size: 0.8rem;
}

.profile-subsection > p > span{
    font-size: 1.1rem;
}

.buttons-subsection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-right: 1rem;
    align-items: center;
}

@media only screen and (max-width: 950px){
   .buttons-subsection{
    gap: 1rem;
   }
}

.buttons-subsection > button{
    background-color: var(--nav-bgc);
    color: var(--dark-font-c);
    font-weight: 700;
    padding: max(0.3rem, 7%) max(0.6rem, 25%); 
    border-radius: 1rem;
    border: none;
    box-shadow: inset 0 0 1px 1px var(--dark-font-c);
}

button:hover{
    background-color: #e11d48;
    transition: background-color 0.15s;
}

img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.15s;
}

.project-section{ 
    position: relative;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 5% 95%;
    background-color: var(--main-gray);
}

.your-projects{
    grid-row: 2/3;
    display: grid;
    padding: 1rem 0.5rem;
    gap: 2.5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-column: 1/2;
}

.project-card{
    padding: 0 0.5rem;
    background-color: var(--main-bgc);
    border-left: 0.4rem black solid;
    border-radius: 0.5rem;
}

.project-card:hover{
    border-left-color: #e11d48;
    transition: border 0.2s;
}

.svg-subsection{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.svg-subsection svg{
    margin-left: 0.4rem;
    font-size: 1.7rem;
    margin-bottom: 10px;
    box-sizing: content-box;
    padding: 0.3rem;
}

.clicked{
    fill: red;
}


.svg-subsection button{
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}
.search-bar > svg,
.profile-noti > svg{
    box-sizing: content-box;
    padding: 0.3rem;
}

.search-bar > svg:hover,
.profile-noti > svg:hover,
.svg-subsection svg:hover{
    background-color: #e11d48;
    border-radius: 1rem;
    transition: all 0.3s;
}

aside{
    grid-column: 2/3;
    padding: 15px;
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px 0px;
}

hr {
    border: solid 1px var(--dark-font-c);
}

.title {
    grid-row: 1/2;
    padding: 0 1rem;
}

aside .title{
    text-align: left;
}

.announcements{
    display: grid;
    grid-column: 2/3;
}

.announcements-box{
    background-color: var(--main-bgc);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 0 #ccc;
    align-items: start;
    height: 95%;
    /* tuka smeni nesto  */
}

@media only screen and (max-width: 1375px){
    .announcements-box{
        height: 85%;
    }
}
@media only screen and (max-width: 1127px){
    .announcements-box{
        height: 67%;
    }
}
@media only screen and (max-width: 880px){
    .announcements-box{
        height: 62%;
    }
}

.announcements-box div > *{
    margin: 0;
}

.announcements-box div {
    text-align: left;
    padding: 0.2rem;
    padding: 0 1.5rem;
    padding-bottom: 0.7rem;
}

.announcements-box div p:first-of-type{
    font-weight: 700;
    margin-bottom: 0.3em;
}

.announcements-box div > p + p {
    color: rgb(76, 76, 76);
    font-size: 0.9em;
    line-height: 1.2em;
    /* copy pastenato za trite tocki na kraj */
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis;
    
}
.announcements-box div:nth-child(1){
    /* grid-row: 1/2; */
    padding-top: 2rem;
}


.announcements-box div:nth-child(3){
    padding-bottom: 0;
}

.trending-box{
    padding: 1rem 0;
    background-color: var(--main-bgc);
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.trending-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* justify-items: center; */
    align-items: center;
    padding: 0.2em 1em;
    /* background-color: lightblue; */
}

.name-tag-subsection > *{
    margin: 0;
    text-align: left;
    padding-left: 1em;
}

.name-tag-subsection > p:first-of-type{
    font-weight: 600;
}

.name-tag-subsection > p:last-of-type{
    color: rgb(76, 76, 76);
}